
body{
    background-image: url('https://cdn.pixabay.com/photo/2019/05/30/14/10/shopping-4239962_1280.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


h1{
    text-align: center;
    font-weight: 700;
}

#Main{
    height: 330px;
    width: 390px;
    background-color: rgb(255, 255, 255 , 0.5);
    margin: 150px 580px;
    padding: 15px;
    border: 3px solid white;
    border-radius: 30px;
}

#email,
#pass,
#log{
    margin: 15px 20px;
    padding: 10px;
    width: 90%;
    background-color: rgb(0, 0, 0 , 0.9);
    border: none;
    border-radius: 8px;
    color: white;
}

input[type="submit"]{
    border: none;
    color: white;
    padding: 15px;
    font-weight: 600;
}